body
{
	background-image: url("backimg2.jpg");
}
h2
{
	color: #ff613d;
	font-family: 'Lobster', cursive;
	font-size: 47px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
}
.topnav
{
  overflow: hidden;
  background: transparent;
}
.topnav a 
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 18px;
}
.topnav a:hover 
{
  background-color: #ddd;
  color: black;
}
.topnav a.active 
{
  background-color: #4caf50;
  color: white;
}
body 
{
	font-family: 'Lobster', cursive;
}